.container {
    width: auto;
    max-width: 680px;
}
.footer {
    position: absolute;
    margin-top: 2%;
    bottom: 1;
    width: 100%;
    display: block;
    line-height: 60px;
    background-color: #f5f5f596;
}